[package]
name = "tsukuyomi"
description = """
A next generation Web framework for Rust
"""
version = "0.2.0-dev"
authors = ["Yusuke Sasaki <yusuke.sasaki.nuem@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/ubnt-intrepid/tsukuyomi.git"
documentation = "https://docs.rs/tsukuyomi/"
readme = "README.md"
keywords = ["web", "framework", "futures", "hyper", "tokio"]
categories = ["web-programming::http-server"]

include = [
  "src/**/*.rs",
  "Cargo.toml",
  "README.md",
  "LICENSE-*",
]

[package.metadata.docs.rs]
features = ["default"]

[badges]
appveyor = { repository = "ubnt-intrepid/tsukuyomi" }
travis-ci = { repository = "ubnt-intrepid/tsukuyomi" }
maintenance = { status = "actively-developed" }

[workspace]
members = [
  "examples/async-await",
  "examples/basic",
  "examples/diesel",
  "examples/git-server",
  "examples/json",
  "examples/lines",
  "examples/routing",
  "examples/session",
  "examples/template-askama",
  "examples/unix-socket",
]

[dependencies]
hyper = { version = "0.12.1", features = ["runtime"], default-features = false }
http = "0.1.5"
mime = "0.3.7"
bytes = "0.4.8"
tokio = "0.1.7"
tokio-tcp = "0.1.0"
futures = "0.1.21"
failure = { version = "0.1.1", features = ["derive"] }
log = "0.4.2"
rustls = { version = "0.11.0", optional = true }
tokio-rustls = { version = "0.4.0", optional = true }
fnv = "1.0.6"
hyperx = "0.12.0"
cookie = { version = "0.10.1", features = ["percent-encode"] }
serde = { version = "1.0.66", features = ["derive"] }
serde_json = "1.0.20"
state = "0.4"
scoped-tls = "0.1.2"

[target.'cfg(unix)'.dependencies]
tokio-uds = "0.2.0"

[features]
default = ["tls", "session"]
session = ["cookie/secure"]
tls = ["rustls", "tokio-rustls"]
nightly = []
