[package]
name = "tsukuyomi-workspace"
version = "0.0.0"
publish = false

[lib]
path = ".empty.rs"

[dev-dependencies]
failure = "0.1.3"
tungstenite = "0.6"
tokio-tungstenite = "0.6"
walkdir = "2"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]

[workspace]
members = [
  "tsukuyomi",
  "tsukuyomi/core",
  "tsukuyomi/macros",
  "tsukuyomi/server",

  "tsukuyomi-askama",
  "tsukuyomi-askama/macros",
  "tsukuyomi-fs",
  # "tsukuyomi-juniper",
  "tsukuyomi-session",
  "tsukuyomi-websocket",

  "testcrates/doctest",

  "examples/basic",
  "examples/json",
  "examples/routing",
  "examples/session",
  "examples/staticfile",
  "examples/tls",
  "examples/unix-socket",
  "examples/websocket",

  # "examples/diesel",
  # "examples/juniper",
  # The following examples works only on nightly channel.
  # "examples/async-await",
  # "examples/git-server",
]

[patch.crates-io]
tsukuyomi = { version = "0.4.0-dev", path = "tsukuyomi" }
tsukuyomi-askama = { version = "0.1.0", path = "tsukuyomi-askama" }
tsukuyomi-fs = { version = "0.1.0", path = "tsukuyomi-fs" }
tsukuyomi-session = { version = "0.1.0", path = "tsukuyomi-session" }
tsukuyomi-websocket = { version = "0.1.0", path = "tsukuyomi-websocket" }
